version: "1.0"
operations:
  - operationId: createOrder
    x-openapi-flow:
      version: "1.0"
      id: create-order
      current_state: created
      transitions:
        - trigger_type: synchronous
          condition: Payment is confirmed
          target_state: paid
          next_operation_id: payOrder

  - operationId: payOrder
    x-openapi-flow:
      version: "1.0"
      id: pay-order
      current_state: paid
      transitions:
        - trigger_type: synchronous
          condition: Fulfillment is completed
          target_state: fulfilled
          next_operation_id: fulfillOrder

  - operationId: fulfillOrder
    x-openapi-flow:
      version: "1.0"
      id: fulfill-order
      current_state: fulfilled
      transitions: []
